<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Langar&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/login.css">
  <title>StoryBooks Login</title>
  <style>

  </style>
</head>

<body>

  <div class="header">
    <div class="logtext">
      <h3 id='Story' ><i class="fas fa-book-reader" ></i> Story Books</h3>
      <div class="section">
        <p class="text-id"> Enjoy reading stories created by others and make some of your own!
        </p>
      </div>
    </div>
    <div class="logCard">
      {{{body}}}
    </div>
  </div>
  {{!-- template footer --}}
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6" id='about'>
          <h6>About</h6>
          <p class="text-justify" style="color:white;">
            Welcome to StoryBooks! Here you can create stories and publicly post them for other users to see, or you could make them private so only you are able to view it. You can also check out what stories others have posted. <br>
            <b style="color: darkgray;font-size:15px;">All data is secured and is you are able recover your data when you want.</b>
          </p>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; Author:Murshed
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a href="https://facebook.com/?lang=en" id="icon-style"> <i class="fab fa-facebook"></i></a> </li>
              <li><a href="https://twitter.com/?lang=en" id="icon-style" id="icon-style"> <i
                    class="fab fa-twitter"></i></a> </li>
              <li><a href="https://linkedin.com/?lang=en" id="icon-style"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>