<div class="container login-container">
    <div class="card-1">
        <div class="card-contant">
            <h3 id='Story' style="color: white;margin-top:60px;" ><i class="fas fa-book-reader" ></i></h3>
            <div class="section" style="padding: 53px;margin-top:-15px">
                <p class="lead">Create public and private stories of our life</p>
            </div>
            <div class="divider"></div>
            <div class="section">
                <a href="/register" class="btn info" id='mr'>
                    <i class="far fa-registered"></i> Registration
                </a>
                <a href="/auth/google" class="btn red darken-1" id='mr'>
                    <i class="fab fa-google left"></i> Log with google
                </a>
                <a href="/register/signin" class="btn red darken-1" id='mr'>
                    <i class="fas fa-sign-in-alt"></i> Sign-in
                </a>
            </div>
        </div>
    </div>
</div>