<div class="container login-container">
    <div class="card-1">
        <div class="card-content">
            <h3  style="color: white;text-align:center;padding:38px;" >Sign In</h3>
            <form action="/register/signin" method="POST">
                <div class="form-group" >
                    <label for="fullname"  style="color: white;text-align:center;">Full Name </label>
                    <input type="text" class="form-control" name="fullname" aria-describedby="name"  style="color: white;text-align:center;">
                </div>
                <div class="form-group">
                    <label for="password1"  style="color: white;text-align:center;">Enter Password</label>
                    <input type="password" class="form-control" name="password1"  style="color: white;text-align:center;">
                </div>
                <div class="form-group" style="padding-top: 38px;">
                    <button type="submit" class="btn btn-primary" >Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>