body {

    background-color: antiquewhite;
    margin: 0;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

#mr {
    margin: 10px 5px;
}
#mr1{
    margin: 10px 5px;
    width: 60px;
}
#icon-style{
    size:25px;
   
}
.header {
    background: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.35)),
        url(/picture/Longin.jpg)center center no-repeat;
    width: 100%;
    background-size: 100%;
    position: relative;
    height: 750px;


    display: flex;
    display: inline-flex;
}
.logCard{
    margin-left: -15px;
    margin-top: 80px;
}
.logtext{
    padding: 161px;
    width: 717px;
    color: aliceblue;
    font-size: large;
    font-family: 'Langar', cursive;
}
#Story{
    font-size: 60px;
    font-weight: bold;
}
#Story:hover{
    color:cornsilk;
}
.text-id{
    font-weight:400;
    font-size: 20px;
}
.card-1{
    border: 1px solid;
    box-shadow: 1px 2px black;
    height: 470px;
    width: 460px;
}
.card-1:hover{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.40), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
}
.lead{
    color:white;
    font-weight: 600;
}
.footer{
   background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.85)),center center no-repeat;
   height: 200px;
}
#about{
    margin-top: -20px;
}
.site-footer
{
background-color:#26272b;
padding:45px 0 20px;
font-size:15px;
line-height:24px;
color:#737373;
}
.site-footer hr
{
border-top-color:#bbb;
opacity:0.5
}
.site-footer hr.small
{
margin:20px 0
}
.site-footer h6
{
color:#fff;
font-size:16px;
text-transform:uppercase;
margin-top:5px;
letter-spacing:2px
}
.site-footer a
{
color:#737373;
}
.site-footer a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links
{
padding-left:0;
list-style:none
}
.footer-links li
{
display:block
}
.footer-links a
{
color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links.inline li
{
display:inline-block
}
.site-footer .social-icons
{
text-align:right
}
.site-footer .social-icons a
{
width:40px;
height:40px;
line-height:40px;
margin-left:6px;
margin-right:0;
border-radius:100%;
background-color:#33353d
}
.copyright-text
{
margin:0;
text-align: center;
}
@media (max-width:991px)
{
.site-footer [class^=col-]
{
margin-bottom:30px
}
}
@media (max-width:767px)
{
.site-footer
{
padding-bottom:0
}
.site-footer .copyright-text,.site-footer .social-icons
{
text-align:center
}
}
.social-icons
{
padding-left:0;
margin-bottom:0;
list-style:none
}
.social-icons li
{
display:inline-block;
margin-bottom:4px
}
.social-icons li.title
{
margin-right:15px;
text-transform:uppercase;
color:#96a2b2;
font-weight:700;
font-size:13px
}
.social-icons a{
background-color:#eceeef;
color:#818a91;
font-size:16px;
display:inline-block;
line-height:44px;
width:44px;
height:44px;
text-align:center;
margin-right:8px;
border-radius:100%;
-webkit-transition:all .2s linear;
-o-transition:all .2s linear;
transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
color:#fff;
background-color:#29aafe
}
.social-icons.size-sm a
{
line-height:34px;
height:34px;
width:34px;
font-size:14px
}
.social-icons a.facebook:hover
{
background-color:#3b5998
}
.social-icons a.twitter:hover
{
background-color:#00aced
}
.social-icons a.linkedin:hover
{
background-color:#007bb6
}
.social-icons a.dribbble:hover
{
background-color:#ea4c89
}
@media (max-width:767px)
{
.social-icons li.title
{
display:block;
margin-right:0;
font-weight:600
}
}
