body {
    color:white;
    font-size: large;
    background-color: antiquewhite;
    margin: 0px;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;

}
#main-body{
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)),
    url(/picture/Longin.jpg)center center no-repeat;
    width: 100%;
    margin-top: -25px;
    background-size: 100%;
    position: relative;
    height: 1000px;
    
}
.fa-book-reader{
    font-size: 2.5rem;
}
.select-wrapper input.select-dropdown{
    color:white;
}
#showCard{
    overflow:auto;
    height: 700px;
   
}
#big:hover{
    font-size: 60px;
    color:wheat;
}