<h3>Edit Story</h3>
<div class="row">
    <form action="/stories/{{story._id}}" method="post" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id='title' name='title' value = "{{story.title}}" style="color: white;" >
                <label for="title" style="color: white;">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name='status' >
                    {{#select story.status}}
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                    {{/select}}
                </select>
                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Tell Us Your Story:</h5>
                <textarea id="body" name="body">{{story.body}}</textarea>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Save" class="btn" style=" border-radius: 25px ;padding-left:30px;padding-right:30px;margin-right:20px;">
            <a href="/Dashboard" class="btn red" style=" border-radius: 25px ;padding-left:30px;padding-right:30px;">Cancel</a>
        </div>
    </form>
</div>